<a href="https://colab.research.google.com/github/redcrab01/main/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1. 변수 사용하기
삼성전자 = 50000
print(삼성전자*10)

500000

In [63]:
#2. 문자열을 정수로 변환
year = (int("2022"))
print(2020,2021,year)

2020 2021 2022

In [99]:
#3. 아래의 문자열에서 '홀'만 출력하세요.
string = "홀짝홀짝홀짝"
print(string[:6:2])

홀홀홀

In [87]:
#4. 문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[5::-1])

NOHTYP

In [66]:
#5. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다.
# 슈퍼맨을  닥터스트레인지와 스플릿 사이에 넣으시오
movie_rank=['닥터 스트레인지','스플릿','럭키','배트맨']
movie_rank.insert(2,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '슈퍼맨', '럭키', '배트맨']

In [76]:
#6. 슬라이싱을 사용해서 홀수만 출력하세요
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[:10:2])

[1, 3, 5, 7, 9]

In [68]:
#7.리스트에 있는 값을 오름차순으로 정렬하세요
data=[2,4,3,1,5,10,9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [96]:
#8.문자열 출력
name1 = "김민수"
age1 = 10
name2= "이철희"
age2 = 13
"이름 : {} 나이 : {} ".format(name1,age1)

'이름 : 김민수 나이 : 10 '

In [94]:
"이름 : {} 나이 : {} ".format(name2,age2)

'이름 : 이철희 나이 : 13 '